.header__nav__option .sign-in-link {
  font-size: 16px;
  color: #333;
  margin-right: 15px;
  text-decoration: none;
  font-weight: 600;
}

.header__nav__option .sign-in-link:hover {
  color: #ff7f50;
}

.signup-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.signup-form,
.signup-image {
  flex: 1;
  padding: 10px;
}

.signup-form {
  max-width: 50%;
}

.signup-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40%;
}

.signup-image img {
  max-width: 100%;
  height: auto;
}

.social-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.social-btns button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.spacer {
  height: 30px;
  /* Adjust the height as needed */
}

.form-group label {
  font-size: 0.875rem;
  /* Decrease label size */
}

.form-control {
  font-size: 0.875rem;
  /* Decrease input text size */
  padding: 0.5rem;
  /* Decrease padding */
}

.btn-primary {
  padding: 0.5rem 1rem;
  /* Decrease button padding */
  font-size: 0.875rem;
  /* Decrease button text size */
}

.card-title {
  font-size: 1.25rem;
  /* Decrease card title size */
}

.signup-image .sign-in-link {
  color: #333;
  text-decoration: none;
}

.signup-image .sign-in-link:hover {
  color: #ff7f50;
}
.error_message {
  color: red;
  font-size: 0.75rem;
  display: none;
}
